.calendar-input
  width: 50%
  border: none
  border-bottom: 0.8px solid #ffd686
  background: none
  color: #cccccc

  &::-webkit-calendar-picker-indicator
    filter: invert(1)

  &:focus
    outline: none